body {
    background-image: url("https://i.ibb.co/B38sQ8K/fondo-3.jpg");
    background-repeat: repeat;
}
.header__title {
    font-size: 5rem;
}
.container__text {
    font-size: 2rem;
}
.container__title {
    font-size: 4rem;
}
.container__form {
    height: auto;
    padding: 1.5rem;
}
.form__name, .form__data{
    font-size: 2.5rem;
}
